{% extends "main/header.html" %}

{% block content %}
<a href="/homepage", style="color:#000">
<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img style="circle" src="/static/media/fplotus.jpeg"> 
         <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/static/media/302.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class=""></h5>
        </div>
      </li>
      <li>
        <img src="/static/media/circscale.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/static/media/1.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
</a>
      
{% endblock %}
