{% extends "main/header.html" %}

{% block content %}
<a href="/homepage", style="color:#000">
<div class="slider fullscreen">
    <ul class="slides">
      <li>
      	<img style="circle" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/5376b5aa-3186-4ccf-b719-f7c5f26cddc0/dczspyw-94f2a1e9-3eaf-434a-ae3c-ebc99a361824.png/v1/fill/w_1920,h_1920,q_80,strp/hyper_by_surlspic_dczspyw-fullview.jpg"> 
         <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="https://lh3.googleusercontent.com/sLM-e5dWdPzBKPLWb4vONkiy6zTZay6YF_lAWQ5yn3Lmng9Ke6uthVMcW4qdX2fIq9ZmtI86aYnPI6PdsYxz_WyBauXKu7Nu_Xbl8e_oly1rn_GL6NfIKDF8wmrCJUrKxT4FZqX3Ls5fev8uR06vujSJb2gRSVx5jZoFJamwhx1b2Z5F0Do7to-pY8_37V6eChSNCR8zd8I-vKajbH0xYe3m3wqWJjRg4d2X0WXjO-nhYeqNUsJuDOo1ae-H3FaH-3ILU9uW382KaKSQYoxV8h808Us7G7qaJyGf0p-54cyUyW5k-T-xSKw6ygxHBmEgwDGq4nUGJhVRuybDKMKpQaloD5kjEK20c9AyI_Ftyr-xzYpdX5BZkBuzzosIsVxqxej1vMb7RPrMLIMSNTqw47TGr62AFiro5V-VqjD-ReRdW8fvnqqABpTPDeYv04nfqNvyb_Fd3tC4glmBgWPxIoQAo6UHhEQXfVoIEX2BbEJvDiKCNc9ZjEUAY4AZc2gdFgInxYykyvdpI6MdUHnHxzbImd7jSNn9nweZnRdwDb775baUhaEOjpMsmSJwIhYXHkeLlj76pjd87Sor_j8WxfURe0DpgaO_JY69vHjFYr486F__dkUPZJlgVmfD3ShKG94hlXrKw6wo9LHqjSeUqpv6O74uSA=s827-no"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/5376b5aa-3186-4ccf-b719-f7c5f26cddc0/dczsp9f-6ab1bcc8-b8e0-4f9d-8454-0cec7e4caea7.png/v1/fill/w_1920,h_1080,q_80,strp/image0003scales_by_surlspic_dczsp9f-fullview.jpg"></h5>
        </div>
      </li>
      <li>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/5376b5aa-3186-4ccf-b719-f7c5f26cddc0/dczspyw-94f2a1e9-3eaf-434a-ae3c-ebc99a361824.png/v1/fill/w_1920,h_1920,q_80,strp/hyper_by_surlspic_dczspyw-fullview.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/5376b5aa-3186-4ccf-b719-f7c5f26cddc0/dczsp9f-6ab1bcc8-b8e0-4f9d-8454-0cec7e4caea7.png/v1/fill/w_1920,h_1080,q_80,strp/image0003scales_by_surlspic_dczsp9f-fullview.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
</a>
      
{% endblock %}
