        <footer class="page-footer white" style="flex: 1 0 auto">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="grey-text text-darken-4">Footer Content</h5>
                <p class="grey-text text-darken-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-darken-3" href="#!">Github</a></li>
                  <li><a class="grey-text text-darken-3" href="#!">Linkedin?</a></li>
                  <li><a class="grey-text text-darken-3" href="#!">DeviantArt?</a></li>
                  <li><a class="grey-text text-darken-3" href="#!">Something</a></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </footer>